<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.amdroid.noitehoje"
      android:versionCode="1004"
	  android:versionName="1.0.4">

	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="10" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ui.SplashScreen"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <activity android:name=".ui.NoiteHoje"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="keyboard|keyboardHidden|orientation">
		</activity>
		<activity android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" android:name=".ui.NoiteHojeEvent">
		</activity>
		<activity android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" android:name=".ui.NoiteHojeEventWeb">
		</activity>
		<activity android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar" android:name=".ui.NoiteHojeMap">
		</activity>

		<service android:name=".service.NoiteHojeService"/>
		<service android:name=".service.NoiteHojeSyncService"/>

		<provider android:name=".provider.NoiteHojeProvider"
			android:authorities="net.amdroid.provider.noitehoje" />

		<uses-library android:name="com.google.android.maps"/>

		<!-- Used for install referrer tracking -->
		<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter>
		</receiver>
		<activity android:name=".ui.NoiteHojeVenueEventsList"></activity>
	</application>
</manifest>
